<a href="https://colab.research.google.com/github/JeffersonCAMarinho/QuarentenaDados/blob/master/QuarentenaDadosFilmes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
print("Jefferson")

Jefferson

In [0]:
nome_do_filme = "totoro"

In [22]:
nome_do_filme

'totoro'

In [0]:
import pandas as pd

In [31]:
filmes = pd.read_csv("https://raw.githubusercontent.com/JeffersonCAMarinho/QuarentenaDados/master/movies.csv")
filmes.columns = ["filmeId", "titulo", "genero"]
filmes.head()

   filmeId  ...                                       genero
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [25]:
avaliacoes = pd.read_csv("https://raw.githubusercontent.com/JeffersonCAMarinho/QuarentenaDados/master/ratings.csv")
avaliacoes.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [26]:
avaliacoes.shape

(100836, 4)

In [27]:
len(avaliacoes)

100836

In [28]:
avaliacoes.columns = [ "usuarioId", "filmeId", "nota", "momento"]
avaliacoes.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [41]:
notas_media_por_filme = avaliacoes.groupby("filmeId")["nota"].mean()
notas_media_por_filme.head()
votos_por_filme = avaliacoes.groupby("filmeId")["usuarioId"].mean()
votos_por_filme.head()

filmeId
1    306.530233
2    329.554545
3    283.596154
4    219.857143
5    299.571429
Name: usuarioId, dtype: float64

In [34]:
filmes_com_media = filmes.join(notas_media_por_filme, on="filmeId")
filmes_com_media.head()

   filmeId  ...      nota
0        1  ...  3.920930
1        2  ...  3.431818
2        3  ...  3.259615
3        4  ...  2.357143
4        5  ...  3.071429

[5 rows x 4 columns]

In [36]:
filmes_com_media.sort_values("nota", ascending=False).head(15)

      filmeId  ... nota
7656    88448  ...  5.0
8107   100556  ...  5.0
9083   143031  ...  5.0
9094   143511  ...  5.0
9096   143559  ...  5.0
4251     6201  ...  5.0
8154   102217  ...  5.0
8148   102084  ...  5.0
4246     6192  ...  5.0
9122   145994  ...  5.0
8115   100906  ...  5.0
9129   146662  ...  5.0
8074    99636  ...  5.0
5785    31522  ...  5.0
9131   146684  ...  5.0

[15 rows x 4 columns]